@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

    .App {
        @apply h-screen w-screen flex flex-col 
        
        bg-neutral-100

    }

    .App h1 {
        @apply select-none text-7xl text-center text-shadow-md tracking-widest font-semibold py-16
        
        text-neutral-900
    }


    .content {
        @apply w-full h-full flex justify-center items-center
    }

    .algoGrid {
        @apply h-1/2 w-1/2 -translate-y-16

        grid grid-cols-2 gap-12
    }

    .gridCard {
        @apply flex justify-center items-center rounded-xl
        
        bg-neutral-50 drop-shadow-xl
    }

    .gridCard h1 {
        @apply text-5xl text-shadow-none
    }

    .gridCard:hover {
        @apply cursor-pointer scale-105 transition-all ease-in-out duration-300
    }

}

@layer utilities {
    @variants responsive {
        .text-shadow {
          text-shadow: 2px 1px 10px black;
        }
        .text-shadow-md {
          text-shadow: 2px 2px 35px black;
        }
        .text-shadow-lg {
          text-shadow: 8px 8px 15px black;
        }
        .text-shadow-none {
          text-shadow: none;
        }
    } 
}  